
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Knowing Vue.JS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" id="nav">
<div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand" style="color:#22c75a">Know Vue.JS</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only"> Toggle Navigation </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="nav-menu">
        <ul class="nav navbar-nav">     
            <li><a href="/chp2.html">Chp2</a></li>    
            <li><a href="/chp3.html">Chp3</a></li> 
            <li><a href="/chp4.html">Chp4</a></li> 
            <li><a href="/chp5.html">Chp5</a></li> 
            <li><a href="/chp6.html">Chp6</a></li>    
            <li><a href="/chp7.html">Chp7</a></li> 
            <li><a href="/chp8.html">Chp8</a></li> 
            <li><a href="/chp9.html">Chp9</a></li> 
            <li><a href="/chp10.html">Chp10</a></li>    
            <li><a href="/chp11.html">Chp11</a></li> 
            <li><a href="/chp12.html">Chp12</a></li>             
        </ul>
    </div>
</div>
</nav>
<section>
<div class="container">    
    <div class="row">                          
        <div class="col-sm-12">
            <div id="app">
                {{welcome}}            
            </div>
            <div id="app2">            
            </div>
        </div>
    </div>
</div>
<template id="tempID">
    <div class="col-sm-4">
        <h3>Template</h3>
        <p>{{templateTitle}} by {{publisher}}.</p>        
        <label>Template <input type="text" v-model="templateTitle" /></label>
        
        <h3>Method</h3>
        <p>{{getTitle()}}</p>
        <label>Method <input type="text" v-model="methodTitle" /></label>
        
        <h3>Computed Property</h3>
        <p>{{computedTitle}}</p>
        <label>Computed <input type="text" v-model="compute_title" /></label>
    </div>
</template>

<template id="temp2">
    <div class="col-sm-4">
       <label>Search: <input type="text" v-model="searchText" /></label>
       <h5>Results:<small>{{results.count}}</small></h5>
       <ul>
          <li v-for="result in results.results">{{result.name}}</li>    
       </ul>
       <hr />
       <label>Search <input type="text" v-model="book.title" /></label>
       <ul>
           <li v-for="(value, key) in book">
               <strong>{{key}}: </strong>{{value}}
           </li>
       </ul>
    </div>
</template>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script> 
/**Computed properties.
Computed properties work similar to methods in Vue. The main difference is that
the results are stored for later use, or cached, until one of the computed property’s
reactive dependencies change.
 **/
    var app = new Vue({
        el: "#app",
        data: {
            templateTitle: 'Getting to know Vue.js!',
            methodTitle: 'Getting to know Vue.js!',
            ComputeTitle: 'Getting to know Vue.js!',
            publisher: 'Apprex'
        },
        methods:{
            getTitle: function(){
                console.log('Called - getTitle()');
                return `${this.methodTitle} by ${this.publisher}`
            }
        },
        computed:{
            computedTitle: function(){
                console.log('Called - comptedTitle');
                return `${this.computeTitle} by ${this.publisher}`
            }
        },
        template: '#tempID'    
        
    });
    
/**
 USING A WATCH TO MONITOR CHANGES.
 The 'searchText' watch monitors the 'searchText' property for changes and calls the 'search' 
 method when ever the property changes.
 The 'searchText' property is the model behind an input element. This is a way to decouple the
 input element changes from an expensive  API call. 

 DEEP WATCH
 'Book' is set to watch the object 'book', hence the term 'deep watch', to monitor its properties.  
 
 */
    var app2 = new Vue({
        el: "#app2",
        data:{
            searchText:'',
            results:[],
            history:{},
            book:{
                title: 'Knowing Vue.js',
                publisher: 'Appres',
                year: 2018
            }
            
        },
        methods:{
            search: function(){
                console.log('Search ship');
                axios.get(`https://swapi.co/api/starships/?search=${this.searchText}`)
                .then(response => {                   
                   this.results = response.data;
                   this.history[this.searchText] = this.results;
                });
            }
        },
        watch:{
           searchText: function(newSearchText, oldSearchText){
               if(this.history[newSearchText]){
                    this.results = this.history[newSearchText];
               }else{
                  this.search();
               }               
           },
           book:{
               handler: function(){
                   console.log('Book changed!');       
               },
               deep: true
               //immediate:true
           }
        },
        template:'#temp2'
    });

</script>
</body>
</html>