
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Knowing Vue.JS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" id="nav">
<div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand" style="color:#22c75a">Know Vue.JS</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
            <span class="sr-only"> Toggle Navigation </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="nav-menu">
        <ul class="nav navbar-nav">              
            <li><a href="/chp2.html">Chp2</a></li>    
            <li><a href="/chp3.html">Chp3</a></li> 
            <li><a href="/chp4.html">Chp4</a></li> 
            <li><a href="/chp5.html">Chp5</a></li> 
            <li><a href="/chp6.html">Chp6</a></li>    
            <li><a href="/chp7.html">Chp7</a></li> 
            <li><a href="/chp8.html">Chp8</a></li> 
            <li><a href="/chp9.html">Chp9</a></li> 
            <li><a href="/chp10.html">Chp10</a></li>    
            <li><a href="/chp11.html">Chp11</a></li> 
            <li><a href="/chp12.html">Chp12</a></li>             
        </ul>
    </div>
</div>
</nav>
<section>
<div class="container">    
    <div class="row">                          
        <div class="col-sm-12">
            <div class="col-sm-2" id="app"></div>  
            <div class="col-sm-3">              
            </div>
            <div class="col-sm-3">                  
            </div>                                            
        </div>
    </div>
</div>
   
</section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
<template id="temp">
    <div>
        <p v-show="isDev">He id Dev!</p>
        <p v-show="isGeo">He is Geo!</p>
        <p v-show="isPhy">He is Phy!</p>
        <p v-show="isChef">He is Chef!</p>
        <p v-show="isDancer">He dances!</p>
        <p v-show="name == 'Tochukwu'">His name is Tochukwu!</p>
        <p v-show="lastname.length - firstname.length < 2">Diff btw firstname and lastname is {{lastname.length - firstname.length}}</p>
        <p v-show="city == 'Joburg'">He lives in Johanesburg!</p>    

        <p v-if="person.job == 'Dev'">{{person.name}} is a {{person.job}}</p>
        
        <p v-if="person.lang.match('C#')">He knows C#</p>
        <p v-else>He does not know C#</p>

        <p v-if="person.framework.match('react')">He knows React</p>
        <p v-else-if="person.framework.match('Vue')">He knows Vue</p>
        <p v-else> He does not know React or Vue</p>

        <template v-if="typeof(person) == 'object'">
            <p>{{person.name}} is a {{person.job}} and live in {{person.city}}<p></p>
        </template>
        <template v-else><p>Person does not exit</p></template>
        
        <hr />
        <!--
        <div v-for="person in people" :key="person.id" class="col-sm-3 thumbnail">            
            <strong>Name:</strong> {{person.name}} <br />
            <strong>Job:</strong> {{person.job}} <br />
            <strong>Cities:</strong>
            <span v-for="city in person.cities"> {{city}} </span>                    
        </div>        
        <hr />
        -->
        <div v-for="person in people"  class="col-sm-3 thumbnail">        
            <strong>Name:</strong> {{person.name}} <br />
            <strong>Job:</strong> {{person.job}} <br />
            <strong>Cities:</strong>
            <span v-for="(city, index)  in person.cities"> 
                 {{city}}<span  v-if="index < person.cities.length - 1">,</span>
            </span>                    
        </div>
        <div class="col-sm-3">
            <p v-for="(value, key, index) in chucksDev">
                <strong>{{index}}) {{key}}:</strong>
                <span v-if="typeof value == 'function'">{{value()}}</span>
                <span v-else>{{value}}</span>            
            </p>
        </div>       
    </div>
</template>
<script> 
  var app = new Vue({
      el: '#app',
      data: {
          isDev: 'Yes',
          isGeo: 1,
          isPhy: true,
          isChef:false,
          isDancer:0,
          name: 'Chucks',
          firstname: 'Tochukwu',
          lastname: 'Nwachukwu',
          city: 'Cape Town',     
          person:{
              name:'Tochukwu',
              job:'Dev',            
              lang:'C#, PHP, Javascript',
              framework:'Laravel, ASP.NETMVC, Vue',
              city: 'Cape Town'
          },
          people:[
              {
                  id:1,
                  job:'Teacher',
                  name: 'Chichi',
                  cities: ['Lagos', 'Owerri', 'Kaduna']
              },
              { 
                  id:2,
                  job:'Doctor',
                  name: 'Chukwudi',
                  cities: ['Kaduna', 'Enugu', 'Benin']
              },
              {
                  id:3,
                  job:'Programmer',
                  name: 'Tochukwu',
                  cities: ['Enugu', 'Owerri', 'Lagos']
              },
              {
                  id:4,
                  job:'Engineer',
                  name: 'Uche',
                  cities: ['Lagos', 'Benin', 'Katsina']
              },
              {
                  id:5,
                  job:'Property Agent',
                  name:'Newton',
                  cities: ['Lagos', 'Asaba', 'Ibadan']
              }
          ],
          chucksDev:{
              name:'Tochukwu',
              job:'Software Developer',            
              lang:'C#, PHP, Javascript',
              framework:'Laravel, ASP.NETMVC, Vue',
              city: 'Cape Town',
              profile:function(){
                  //return this.chucksDev.name + ' is a '+ this.job + ' based in ' +this.cicty + '.'; //NOT working
                  return "Tochukwu the software developer!"
              }
          },
          
      },
      methods: {
          //Filter the cities on the fly and mutate the people array of objects. 
          //Trying calling it from the browser console.
          filterCities:function(requiredCity){
             this.people = this.people.filter(person => {
                 return (
                     person.cities.findIndex(function(city, index, arry){
                         return city.toLowerCase() == requiredCity.toLowerCase();
                     })
                 ) >= 0;
             });
              
              return 'City: '+requiredCity;
          },
          
          replacePerson:function(){
              var indexToReplace = 4;
              var newPerson = {
                  id:7,
                  job:'Clearing and Forwarding',
                  name:'Kenneth',
                  cities: ['Lagos', 'Ogun', 'Akure']
              }
              Vue.set(this.people, indexToReplace, newPerson);
              //this.people.splice(indexToReplace, 1, newPerson);
          },
          
          resizePeople: function(){
              //Vue canot detect this resizing
              //this.people.length = 3;
              
              //Vue can detect this resizing 
              this.people.splice(3);
          }
      },
      template: '#temp'
  });
</script>
</body>
</html>